ul{width:auto;list-style:none;}
ul li{width:auto;float:left;margin-right:15px;line-height:20px;
padding: 2%;}
.pager{
    position:relative;
    bottom: 0%;
}
.textFont{
    font-size: 24px;
    color:aliceblue;
    font-family: "宋体";
}
.booklist{
    font-family: serif;
    color:black;
}
