<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>计科书斋</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <link href="../static/css/userTopBar.css" th:href="@{/css/userTopBar.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/list.css" th:href="@{/css/list.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/table.css" th:href="@{/css/table.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- 顶部栏 -->
<div class="topBar"><a href="index.html" th:href="@{/index}"><i class="iconfont" >&#xe61b;</i>OBMS</a></div>
<div class="jiaocai">
    <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            教材分类
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <div class="dropdownfont">
                <div><a href="index.html?sno=1" th:href="@{/user/book_sort?sno=1}">大一上</a></div>
                <div><a href="index.html?sno=2" th:href="@{/user/book_sort?sno=2}">大一下</a></div>
                <div><a href="index.html?sno=3" th:href="@{/user/book_sort?sno=3}">大二上</a></div>
                <div><a href="index.html?sno=4" th:href="@{/user/book_sort?sno=4}">大二下</a></div>
                <div><a href="index.html?sno=5" th:href="@{/user/book_sort?sno=5}">大三上</a></div>
                <div><a href="index.html?sno=6" th:href="@{/user/book_sort?sno=6}">大三下</a></div>
                <div><a href="index.html?sno=7" th:href="@{/user/book_sort?sno=7}">大四上</a></div>
                <div><a href="index.html?sno=8" th:href="@{/user/book_sort?sno=8}">大四下</a></div>
                <div><a href="index.html?sno=9" th:href="@{/user/book_sort?sno=9}">其他书籍</a></div>
            </div>
        </ul>
    </div>
</div>
	<div class="account">
		<div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              我的账户
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">发布商品</a></li>
              <li><a href="#">我发布的商品</a></li>
              <li><a href="#">我想要的商品</a></li>
                  <li><a href="#">用户信誉</a></li>
            </ul>
          </div>
	</div>
    <div class="box-hd">
		<h2>🔘用户信誉</h2>
        <h3 title="信誉太低会封号">❓</h3>
	</div>
  <div>
    <ul class="textfont">
        <li>
            <p>点赞数</p>
            <p class="yes">126</p>
        </li>
        <li>
            <p>点踩数</p>
            <p class="no">16</p>
        </li>
    </ul>
  </div>
</body>
</html>