<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登录</title>
	<link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css">
	<link href="../static/css/topBar.css" type="text/css" rel="stylesheet"/>
    <!--<link href="css/denglu.css"type="text/css"rel="stylesheet"/>-->
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 顶部栏 -->
	<div class="topBar">
		<a href="#"><i>&#xe61b;</i>OBMS</a>
	</div>
<main class="main" role="main">
    <form>
    <div class="container" >
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div class="textfont">
                    <h2>登陆</h2>
                    <div>
                        <label for="exampleInputEmail1" name="username">用户名</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入用户名">
                    </div>
                    <div>
                        <label for="exampleInputPassword1" name="password">密码</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
                    </div>
                    <div>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">记住信息</label>
                    </div>
                    <button type="submit" class="btn">登录</button>
                </div>
            </div>
        </div>
    </div>
</form>
</main>
</body>
</html>