<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui:ios">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>计科书斋</title>
	<link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
	<link href="../static/css/topBar.css" type="text/css" rel="stylesheet" th:href="@{/css/topBar.css}"/>
	<link href="../static/css/list.css" type="text/css" rel="stylesheet" th:href="@{/css/list.css}"/>
	<link href="../static/css/table.css" type="text/css" rel="stylesheet" th:href="@{/css/list.css}"/>
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
	<!-- 顶部栏 -->
	<div class="topBar"><a href="index.html" th:href="@{/index}"><i class="iconfont" >&#xe61b;</i>OBMS</a></div>
     <div class="jiaocai">
        <a href="#" th:href="@{#}" data-toggle="dropdown">教材 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" th:href="@{#}">大一上</a></li>
            <li><a href="#" th:href="@{#}">大一下</a></li>
            <li><a href="#" th:href="@{#}">大二上</a></li>
            <li><a href="#" th:href="@{#}">大二下</a></li>
            <li><a href="#" th:href="@{#}">大三上</a></li>
            <li><a href="#" th:href="@{#}">大三下</a></li>
            <li><a href="#" th:href="@{#}">大四上</a></li>
            <li><a href="#" th:href="@{#}">大四下</a></li>
          </ul>
		<span>|</span>
		<a href="#" th:href="@{#}">其他书籍</a>
	</div>		
	<div class="login">
		<a href="denglu.html" th:href="@{/toLogin}" id="denglu">登录</a>
		<span>|</span>
		<a href="zhuce.html" th:href="@{/toRegister}" id="zhuce">注册</a>
	</div>

	<!-- 内容详情 -->
	<!-- 标题 -->
	<div class="box-hd">
		<h2>🔘大一书籍</h2>
	</div>
	<div class="content-desc">
		<div class="book_list">
			<ul th:each="book : ${books}">
				<li>
					<div class="figure">
						<a href="#">
							<img src="../static/images/figure1.jpg" th:src="@{/images/figure1.jpg}" alt="wrong">
						</a>
					</div>
					<h2 class="title">
						<a href="#" th:href="@{#}" th:text="${book.bname}">小米9</a>
					</h2>
					<p class="desc">XXXXX</p>
					<p class="price">
						<span class="num" th:text="${book.bprice}">2999</span>元
					</p>
				</li>
			</ul>
			<nav aria-label="...">
				<div >
					<ul class="pager">
					<li><a href="#" th:href="@{#}">上一页</a></li>
					<li><a href="#" th:href="@{#}">下一页</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</body>
<script>
	$("#denglu").click(functin(){

	})
	// var denglu=document.getElementById("denglu");
	// denglu.onclick=function(){
	// 	window.location.href ='denglu.html';
	// };
	// var zhuce=document.getElementById("zhuce");
	// zhuce.onclick=function(){
	// 	window.location.href ='zhuce.html';
	// };
</script>
</html>
