<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>计科书斋</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
    <link href="../static/css/userTopBar.css" th:href="@{/css/userTopBar.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/list.css" th:href="@{/css/list.css}" type="text/css" rel="stylesheet"/>
    <link href="../static/css/table.css" th:href="@{/css/table.css}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- 顶部栏 -->
<div class="topBar"><a href="index.html" th:href="@{/index}"><i class="iconfont" >&#xe61b;</i>OBMS</a></div>
<div class="jiaocai">
    <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            教材分类
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <div class="dropdownfont">
                <div><a href="index.html?sno=1" th:href="@{/user/book_sort?sno=1}">大一上</a></div>
                <div><a href="index.html?sno=2" th:href="@{/user/book_sort?sno=2}">大一下</a></div>
                <div><a href="index.html?sno=3" th:href="@{/user/book_sort?sno=3}">大二上</a></div>
                <div><a href="index.html?sno=4" th:href="@{/user/book_sort?sno=4}">大二下</a></div>
                <div><a href="index.html?sno=5" th:href="@{/user/book_sort?sno=5}">大三上</a></div>
                <div><a href="index.html?sno=6" th:href="@{/user/book_sort?sno=6}">大三下</a></div>
                <div><a href="index.html?sno=7" th:href="@{/user/book_sort?sno=7}">大四上</a></div>
                <div><a href="index.html?sno=8" th:href="@{/user/book_sort?sno=8}">大四下</a></div>
                <div><a href="index.html?sno=9" th:href="@{/user/book_sort?sno=9}">其他书籍</a></div>
            </div>
        </ul>
    </div>
</div>
<div class="account">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            我的账户
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="publishBook.html" th:href="@{/toPublishBook}">发布书籍</a></li>
            <li><a href="mypublishbook.html" th:href="@{/toMyPublishBook}">我发布的书籍</a></li>
            <li><a href="want.html" th:href="@{/toMyWantBook}">我收藏的书籍</a></li>
            <li><a href="customHonesty.html" th:href="@{/toCustomHonesty}">用户信誉</a></li>
        </ul>
    </div>
</div>

	<!-- 内容详情 -->
	<!-- 标题 -->
	<div class="box-hd">
		<h2>🔘我的商品：</h2>
	</div>
		<div class="book_list">
			<form action="">
                <hr/>
					<div class="bookMessage_content">
                        <div>
                            <button class="btn">全部</button>
                            <button value="0" class="btn">已上架</button>
                            <button value="1" class="btn">已下架</button>
                        </div>
					</div>
	        </form>
		</div>
        <br/>
    <div id="main">
        <table class="table">
            <thead>
            <tr>
                <th>书籍名称</th>
                <th>发布时间</th>
                <th>书籍价格</th>
                <th>书籍信息</th>
                <th>编辑信息</th>
                <th>下架书籍</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="books : ${getBookPublish}" style="background-color: #a13e26;color: aliceblue;">
                <th th:text="${books.bname}">书籍名称</th>
                <td th:text="${books.createtime}">发布时间</td>
                <td th:text="${books.bprice}">书籍价格</td>
                <td th:text="${books.bdescribe}">书籍信息</td>
<!--                <td th:text="${books.bstate}">上架状态</td>-->
<!--                    <span th:if="${books.bstate}">上架中</span>-->
<!--                    <span th:if="${books.bstate}">已下架</span>-->
<!--                <td><a href="editPublishBook.html?bno=${books.bno}" th:href="@{/toEditPublishBook?bno=${books.bno}}">编辑</a></td>-->
                <td><a th:href="@{/toEditPublishBook(bno=${books.bno})}">编辑</a></td>
                <td><a th:href="@{/user/mine/banpublish(bno=${books.bno})}">下架</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
