<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>计科书斋</title>
	<link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
	<link href="../static/css/topBar.css" type="text/css" rel="stylesheet" th:href="@{/css/topBar.css}"/>
	<link href="../static/css/list.css" th:href="@{/css/list.css}" type="text/css" rel="stylesheet"/>
	<link href="../static/css/table.css" th:href="@{/css/table.css}" type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- 顶部栏 -->
<div class="topBar"><a href="index.html" th:href="@{/index}"><i class="iconfont" >&#xe61b;</i>OBMS</a></div>
<div class="jiaocai">
	<div class="dropdown">
		<button class="btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			教材分类
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<div class="dropdownfont">
				<div><a href="index.html?sno=1" th:href="@{/user/book_sort?sno=1}">大一上</a></div>
				<div><a href="index.html?sno=2" th:href="@{/user/book_sort?sno=2}">大一下</a></div>
				<div><a href="index.html?sno=3" th:href="@{/user/book_sort?sno=3}">大二上</a></div>
				<div><a href="index.html?sno=4" th:href="@{/user/book_sort?sno=4}">大二下</a></div>
				<div><a href="index.html?sno=5" th:href="@{/user/book_sort?sno=5}">大三上</a></div>
				<div><a href="index.html?sno=6" th:href="@{/user/book_sort?sno=6}">大三下</a></div>
				<div><a href="index.html?sno=7" th:href="@{/user/book_sort?sno=7}">大四上</a></div>
				<div><a href="index.html?sno=8" th:href="@{/user/book_sort?sno=8}">大四下</a></div>
				<div><a href="index.html?sno=9" th:href="@{/user/book_sort?sno=9}">其他书籍</a></div>
			</div>
		</ul>
	</div>
</div>
<div class="login">
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			我的账户
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="publishBook.html" th:href="@{/toPublishBook}">发布书籍</a></li>
			<li><a href="mypublishbook.html" th:href="@{/toMyPublishBook}">我发布的书籍</a></li>
			<li><a href="want.html" th:href="@{/toMyWantBook}">我想要的书籍</a></li>
			<li><a href="customHonesty.html" th:href="@{/toCustomHonesty}">用户信誉</a></li>
		</ul>
	</div>
</div>
	<!-- 内容详情 -->
	<!-- 标题 -->
	<div class="box-hd">
		<br>
		<h2>🔘发布书籍</h2>
	</div>
	<div class="content-desc">
		<div class="book_list">
			<form class="publishBook"   th:action="@{/user/add_publish}"  method="post">
				<div class="form-group">
					<div class="textfont">书籍分类</div>
					<div class="textfont">
						<select name="sno" class="btn">
							<option value="1">大一上</option>
							<option value="2">大一下</option>
							<option value="3">大二上</option>
							<option value="4">大二下</option>
							<option value="5">大三上</option>
							<option value="6">大三下</option>
							<option value="7">大四上</option>
							<option value="8">大四下</option>
							<option value="9">其他书籍</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">书籍名称</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="请输入书名" name="bname">
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">价格</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="请输入价格" name="bprice">
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">书籍描述</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="userName" aria-describedby="emailHelp" placeholder="请输入书籍信息" name="bdescribe">
					</div>
				</div>
				<button type="submit" class="btn btn-success btn-block">发布</button>
			</form>
		</div>
	</div>
</body>
</html>
