<!DOCTYPE >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css}">
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" src="../static/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
	<link href="../static/css/topBar.css" type="text/css" rel="stylesheet" th:href="@{/css/topBar.css}"/>
	<title>注册</title>

<body background="img/zcbg.jpg">
<!-- 顶端栏 -->
<div class="topBar">
	<a href="index.html" th:href="@{/index}"><i>&#xe61b;</i>OBMS</a>
</div>
<div class="container" >
	<div class="row">
		<div class="offset-md-3 col-md-6">
			<div class="form-container">
				<div id="lunkuo">
					<h1 style="color: #ebf4f6">注册</h1>
					<br/>
					<form th:action="@{/user/account/register}" class="form" method="post">
						<!-- 学号号图标 --><svg t="1586146954028" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2643" width="23" height="23">
						<path d="M904.4 346.2c-21.5-50.7-52.2-96.3-91.3-135.4-39.1-39.1-84.6-69.8-135.4-91.3C625.3 97.4 569.5 86.1 512 86.1s-113.3 11.3-165.8 33.5c-50.7 21.5-96.3 52.2-135.4 91.3-39.1 39.1-69.8 84.6-91.3 135.4C97.4 398.7 86.1 454.5 86.1 512c0 57.5 11.3 113.3 33.5 165.8 21.5 50.7 52.2 96.3 91.3 135.4 39.1 39.1 84.6 69.8 135.4 91.3 52.5 22.2 108.3 33.5 165.8 33.5s113.3-11.3 165.8-33.5c50.7-21.5 96.3-52.2 135.4-91.3 39.1-39.1 69.8-84.6 91.3-135.4 22.2-52.5 33.5-108.3 33.5-165.8-0.2-57.5-11.5-113.3-33.7-165.8zM770.7 770.7c-69.1 69.1-161 107.2-258.7 107.2s-189.6-38.1-258.7-107.2-107.2-161-107.2-258.7 38.1-189.6 107.2-258.7 161-107.2 258.7-107.2 189.6 38.1 258.7 107.2 107.2 161 107.2 258.7-38.1 189.6-107.2 258.7z" p-id="2644">
						</path>
						<path d="M618.9 552.8c47.3-33.6 78.2-88.7 78.2-151 0-102-83-185.1-185.1-185.1s-185.1 83-185.1 185.1c0 62.3 30.9 117.4 78.2 151-67.5 32.9-118.4 96-133.4 173.5-3.1 16.3 7.5 32 23.8 35.1 1.9 0.4 3.8 0.5 5.7 0.5 14.1 0 26.7-10 29.4-24.3 16.7-86.6 93-149.5 181.3-149.5 88.4 0 164.6 62.9 181.3 149.5 3.1 16.3 18.9 26.9 35.1 23.8 16.3-3.1 26.9-18.9 23.8-35.1-14.8-77.6-65.7-140.7-133.2-173.5zM512 276.7c69 0 125.1 56.1 125.1 125.1s-56.1 125-125.1 125-125.1-56.1-125.1-125.1 56.1-125 125.1-125z" p-id="2645">
						</path>
					</svg>
						<input type="text" name="uno" id="zcnumber" onclick="onclickfun()" placeholder="请输入学号"/>
						<span id="numberspan" style="color: red;"></span>
						<!-- 必填 -->
						<br/><br/>

						<!-- 年级图标 -->
						<input type="text" name="ugrade" id="zcgrade" onclick="onclickfun()" placeholder="请输入年级"/>
						<span id="gradespan" style="color: red;"></span>
						<!-- 必填 -->
						<br/><br/>

						<!-- 姓名图标 -->
						<input type="text" name="uname" id="zcname" onclick="onclickfun()" placeholder="请输入姓名"/>
						<span id="namespan" style="color: red;"></span>
						<!-- 必填 -->
						<br/><br/>

						<!-- 昵称图标 -->
						<input type="text" name="unickname" id="zcnickname" onclick="onclickfun()" placeholder="请输入昵称"/>
						<!-- <span id="nicknamespan" style="color: red;"></span> -->
						<!-- 必填？ -->
						<br/><br/>

						<!-- 手机图标 --><svg t="1586147067477" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5047" width="23" height="23">
						<path d="M690.08 128l-356.448 0.128a23.168 23.168 0 0 0-22.72 23.392l0.256 721.056c0 12.864 10.24 23.36 22.752 23.392l356.48-0.16a23.104 23.104 0 0 0 22.72-23.392l-0.256-721.024A23.104 23.104 0 0 0 690.08 128z m-141.792 711.648c0 20.576-16.224 37.312-36.256 37.312-20 0-36.288-16.672-36.256-37.28-0.032-20.576 16.192-37.312 36.224-37.312 20.032-0.032 36.288 16.736 36.288 37.28zM695.36 229.504l0.192 530.528c0 12.864-10.24 23.392-22.72 23.392l-321.632 0.064a23.2 23.2 0 0 1-22.784-23.36l-0.16-530.528c0-12.832 10.24-23.36 22.752-23.36l321.632-0.096c12.48-0.032 22.72 10.464 22.72 23.36z" fill="" p-id="5048">
						</path>
					</svg>
						<input type="text" name="utel" id="zcphone" onclick="onclickfun()" placeholder="请输入手机号" />
						<span id="phonespan" style="color: red;"></span>
						<!-- 必填 -->
						<br /><br />

						<!-- 微信图标 -->
						<input type="text" name="uwechat" id="zcname1"  onclick="onclickfun()" placeholder="请输入微信号"/>
						<!-- <span id="namespan" style="color: red;"></span> -->
						<!-- 选填 -->
						<br/><br/>

						<!-- QQ图标 -->
						<input type="text" name="uqq" id="zcname2" onclick="onclickfun()"  placeholder="请输入QQ号"/>
						<!-- <span id="namespan"style="color: red;"></span> -->
						<!-- 选填 -->
						<br/><br/>

						<!-- 密码图标 --><svg t="1586146995954" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3403" width="23" height="23">
						<path d="M512 128a170.666667 170.666667 0 0 0-170.666667 170.666667v128h341.333334V298.666667a170.666667 170.666667 0 0 0-162.133334-170.453334L512 128z m298.666667 384H213.333333a42.666667 42.666667 0 0 0-42.666666 42.666667v298.666666a42.666667 42.666667 0 0 0 42.666666 42.666667h597.333334a42.666667 42.666667 0 0 0 42.666666-42.666667v-298.666666a42.666667 42.666667 0 0 0-42.666666-42.666667zM512 42.666667a256 256 0 0 1 256 256v128h42.666667a128 128 0 0 1 128 128v298.666666a128 128 0 0 1-128 128H213.333333a128 128 0 0 1-128-128v-298.666666a128 128 0 0 1 128-128h42.666667V298.666667a256 256 0 0 1 246.4-255.829334L512 42.666667z" p-id="3404">
						</path>
					</svg>
						<input type="password" name="upassword" id="zcpass" onclick="onclickfun()" placeholder="密码:6-12位" />
						<span id="passspan" style="color: red;"></span>
						<br/><br/>

						<!-- 确认密码图标 --><svg t="1586147123231" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5214" width="23" height="23">
						<path d="M512 572.8c-48 0-88 40-88 88 0 41.6 28.8 76.8 67.2 84.8v75.2c0 11.2 8 19.2 19.2 19.2h3.2c11.2 0 19.2-8 19.2-19.2v-75.2c38.4-9.6 67.2-44.8 67.2-84.8 0-48-40-88-88-88z m0 134.4c-25.6 0-46.4-20.8-46.4-46.4s20.8-46.4 46.4-46.4 46.4 20.8 46.4 46.4-20.8 46.4-46.4 46.4z" fill="#3E3A39" p-id="5215"></path><path d="M780.8 448h-3.2v-118.4c0-145.6-118.4-264-264-264s-264 118.4-264 264V448h-4.8C188.8 448 144 492.8 144 547.2v313.6c0 54.4 44.8 99.2 99.2 99.2h537.6c54.4 0 99.2-44.8 99.2-99.2V547.2c0-54.4-44.8-99.2-99.2-99.2z m-484.8-118.4c0-120 97.6-216 216-216s216 97.6 216 216V448h-432v-118.4zM832 860.8c0 28.8-22.4 51.2-51.2 51.2H243.2c-28.8 0-51.2-22.4-51.2-51.2V547.2c0-28.8 22.4-51.2 51.2-51.2h537.6c28.8 0 51.2 22.4 51.2 51.2v313.6z" fill="#3E3A39" p-id="5216">
					</path>
					</svg>
						<input type="password" name="urpassword" id="zcrpass" onclick="onclickfun()" placeholder="请再次确认密码" />
						<span id="rpassspan" style="color: red;"></span>
						<br /><br />

						<!-- 验证 --><input type="submit" class="btn">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<meta charset="utf-8">
</head>
</html>

<script type="text/javascript">
	// function  fun(){
	// 	alert("默认代表您同意《用户服务协议》和《隐私政策》");
	// }
	var form = document.querySelector(".form");
	function  onclickfun(){
		//学号验证
		var numberobj=document.getElementById("zcnumber");
		var numbertext=numberobj.value;
		var numberspanobj=document.getElementById("numberspan");

		var gradeobj=document.getElementById("zcgrade");
		var gradetext=gradeobj.value;

		var numbernatt=/^\d{10}$/;
		// var numbernatt=/^\d{+gradetext+}213\d{3}$/;
		// (2019|2020)+213\d{3}
		// 可能要改的正则表达方式
		if(numbernatt.test(numbertext) != true){
			numberspanobj.innerHTML="学号不符合要求";
			/*			alert("学号不符合要求");
                        location.reload();*/
		}else{numberspanobj.innerHTML="";}

		//年级验证
		var gradespanobj=document.getElementById("gradespan")
		var gradenatt=/^[1-2][0-9][0-9][0-9]$/
		if(gradenatt.test(gradetext) != true){
			gradespanobj.innerHTML="年级输入错误";
		}else{gradespanobj.innerHTML="";}

		//姓名验证
		var nameobj=document.getElementById("zcname");
		var nametext=nameobj.value;
		var namespanobj=document.getElementById("namespan");

		var namenatt=/^\S+$/;
		if(namenatt.test(nametext) != true){
			namespanobj.innerHTML="必填";
		}else{namespanobj.innerHTML="";}

		//手机验证
		var phoneobj=document.getElementById("zcphone");
		var phonetext=phoneobj.value;
		var phonespanobj=document.getElementById("phonespan");

		var phonenatt=/^\d{11}$/;
		if(phonenatt.test(phonetext) != true){
			phonespanobj.innerHTML="必填";
		}else{phonespanobj.innerHTML="";}

		//密码验证
		var  passobj=document.getElementById("zcpass");
		var  passtext=passobj.value;
		var  passspanobj=document.getElementById("passspan");

		var  patt=/^\w{6,12}$/;
		if(patt.test(passtext) != true){
			passspanobj.innerHTML="密码不符合要求";
		}else{passspanobj.innerHTML="";}

		//确认密码验证
		var rpassobj=document.getElementById("zcrpass");
		var rpasstext=rpassobj.value;
		var rpassspanobj=document.getElementById("rpassspan");
		if(rpasstext != passtext){
			rpassspanobj.innerHTML="密码不一致";
		}else{rpassspanobj.innerHTML="";}
	}
	form.onsubmit=function  subfun(){
		var numberobj=document.getElementById("zcnumber");
		var numbertext=numberobj.value;
		var numberspanobj=document.getElementById("numberspan");
		var gradeobj=document.getElementById("zcgrade");
		var gradetext=gradeobj.value;
		var numbernatt=/^\d{10}$/;
		var gradespanobj=document.getElementById("gradespan");
		var gradenatt=/^[1-2][0-9][0-9][0-9]$/;
		var nameobj=document.getElementById("zcname");
		var nametext=nameobj.value;
		var namespanobj=document.getElementById("namespan");
		var namenatt=/^\S+$/;
		var phoneobj=document.getElementById("zcphone");
		var phonetext=phoneobj.value;
		var phonespanobj=document.getElementById("phonespan");
		var phonenatt=/^\d{11}$/;
		var  passobj=document.getElementById("zcpass");
		var  passtext=passobj.value;
		var  passspanobj=document.getElementById("passspan");
		var  patt=/^\w{6,12}$/;
		var rpassobj=document.getElementById("zcrpass");
		var rpasstext=rpassobj.value;
		var rpassspanobj=document.getElementById("rpassspan");

		if(numbernatt.test(numbertext) != true){
			numberspanobj.innerHTML="学号不符合要求";
			/*alert("1");*/
			return false;
		}
		if(gradenatt.test(gradetext) != true){
			gradespanobj.innerHTML="年级输入错误";
			return false;
		}
		if(namenatt.test(nametext) != true){
			namespanobj.innerHTML="必填";
			return false;
		}
		if(phonenatt.test(phonetext) != true){
			phonespanobj.innerHTML="必填";
			return false;
		}
		if(patt.test(passtext) != true){
			passspanobj.innerHTML="密码不符合要求";
			return false;
		}
		if(rpasstext != passtext){
			rpassspanobj.innerHTML="密码不一致";
			return false;
		}

		return true;
	}
</script>